body,
html,
ul,
li,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
dl,
dd,
dt,
input {
    &,
    &::before,
    &::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

ul,
li,
ul li {
    list-style: none;
}

@media screen and (min-width: 750px) {
    html {
        font-size: 75px !important;
    }
}

body,
html {
    min-width: 320px;
    // width: 10rem;
    user-select: none;
    /*     overflow: hidden; */
    font-family: "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue";
    background-color: #f5f5f5;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}