@font-face {
    font-family: "music-icon"; /* Project id 3019984 */
    src: url('//at.alicdn.com/t/font_3019984_svojrcfdzct.woff2?t=1639555717800') format('woff2'),
         url('//at.alicdn.com/t/font_3019984_svojrcfdzct.woff?t=1639555717800') format('woff'),
         url('//at.alicdn.com/t/font_3019984_svojrcfdzct.ttf?t=1639555717800') format('truetype');
  }

  .music-icon {
    font-family: "music-icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-back:before {
    content: "\e624";
  }

  .icon-play:before {
    content: "\ea82";
  }
